//引入页头
@import url("header.less");

//三大特色
#feature{
    margin-top: 20px;
    .row{
        div{
            background: url("@{bgurl}/feature01.png") no-repeat left center;
            min-height:70px;
            padding-left:80px;
            
            h4{
                font-weight: 700;
            }
            p{
                color: #999;
            }
        }
    }
}

//投资信息列表
#invest,#article{
    padding-right: 0px;
    padding-left: 0px;
}

//屏幕宽度在620以下时就隐藏超宽的列
@media all and (max-width: 620px){
    .hide620{
        display: none;
    }
}


//panel部分
.panel{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.panel-default{
    border: none;
    
    &>.panel-heading{
        background-color: transparent;
        padding: 0px;
        
        display: flex;
        justify-content: space-between;
        
        h1{
            font-size: 24px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            color: #2e8ece;
            font-weight: bold;
            border-bottom: 3px solid @colorBlue;
        }
        
        p{
            margin: 0px;
            padding: 0px;
            line-height: 60px;
        }
    }
    
    table{
        font-size: 16px;
        th{
            color: #999;
        }
        td:nth-of-type(3),td:nth-of-type(4){
            color: #31708f;
        }
    }
    
    .panel-body{
        
        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;
            
            li{
                line-height: 26px;
                border-bottom: dotted 1px #ccc;
                
                span{
                    float: right;
                    color: #999;
                }
            }
        }
    }
}

//引入页脚
@import url("footer.less");














